@media only screen and (max-width: 768px) {
	.center-right{
		top: 50%;
		left: 50%;
	}
	
	
	.size-1-5em{
		font-size: 1rem;
	}
	
	.font-size{
		font-size: 1.5rem;
	}
	
	.margin-top{
		margin-top: 0em;
	}
}